@import './base.css';

#app {
  margin: 0 auto;
  padding: 2rem;
  padding-top: 0;

  font-weight: normal;
}

h1 {
  color: rgb(11, 146, 9);
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(0, 0%, 50%, 0.2);
  }
}

